.link-banner nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2ch;
    font-weight: bold;
}

.link-banner nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.link-banner nav a.active {
    text-decoration: none;
    color: black;
}

.link-banner nav a:hover {
    color: black;
}

.link- nav .socials {
    display: flex;
    justify-content: space-between;
    width: 70px;
}

@media (max-width: 450px) {
    .link-banner nav a {
        font-size: 15px;
    }
}
