#toggle-mode {
    position: absolute;
    top: 0;
    right: 0;
}

/*CSS variables used to define colours*/
.light-mode {
    --nc-tx-1: #000000;
    --nc-tx-2: #1A1A1A;
    --nc-bg-1: #FFFFFF;
    --nc-bg-2: #F6F8FA;
    --nc-bg-3: #E5E7EB;
    --nc-lk-1: #0070F3;
    --nc-lk-2: #0366D6;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #79FFE1;
    --nc-ac-tx: #0C4047;
}

.dark-mode {
    --nc-tx-1: #ffffff;
    --nc-tx-2: #eeeeee;
    --nc-bg-1: #000000;
    --nc-bg-2: #111111;
    --nc-bg-3: #222222;
    --nc-lk-1: #3291FF;
    --nc-lk-2: #0070F3;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #7928CA;
    --nc-ac-tx: #FFFFFF;
}

/* Overriding new.css which sets button color to blue background */
button, button:enabled:hover, button:enabled:focus, button:enabled:active {
    background: var(--nc-bg-1);
}

/*Link-banner link color in dark mode*/
.dark-mode .link-banner nav a {
    color: var(--nc-tx-1);
}

.dark-mode .link-banner nav a:hover{
    color: rgb(190, 190, 190);
}

.light-mode a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgb(249, 145, 255, 0.8);
}

.light-mode a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.dark-mode a {
    color: var(--nc-tx-1);
    text-decoration: underline;
    text-decoration-color: rgb(255, 160, 255, 0.9);
}

.dark-mode a:hover {
    color: rgba(255, 255, 255, 0.85);
}